@import '@/styles/utils/mixins.scss';
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  //   background-image: url('/images/gawar-g.svg'), url('/images/home-main-banner.svg');
  //   background-size: contain, 58%;
  //   background-position: calc(100% - 4.5rem) top, 95% center;

  .textContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 0 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1.25rem;

    .bannerTitle {
      font-size: 4.375rem;
      font-weight: 600;
      line-height: 4.375rem;
      letter-spacing: 0em;
      text-align: left;
      max-width: 41.5rem;
    }

    .bannerSubTitle {
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 2.275rem;
      letter-spacing: 0rem;
      text-align: left;
      max-width: 37.125rem;
    }

    .ctaContainer {
      min-width: 7.5625rem;
      padding: 0.875rem 1.5rem;
      margin-top: 1rem;
      background-color: var(--color-primary);
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @include text-typography(1.125rem, 1.575rem, 0em, center, 400);

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}
